:root {
  --primary-color: #ffffff;
  --secondary-color: #f5f4fa;
  --accent-color: #2196f3;

  --text-primary: #757575;
  --text-secondary: #212121;
  --text-white: #ffffff;
  /* color hero, footer #2f303a*/
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-primary);
}
h1,
h2,
h3,
p {
  margin: 0;
}

/* Header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.accent {
  color: var(--accent-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-secondary);
  letter-spacing: 0.02em;
  text-decoration: none;
}
.list-text,
.nav-links,
.contacts-links,
.list-btns,
.list-links,
.list {
  list-style-type: none;
}
.nav-link {
  outline: 1px solid tomato;
}
.nav-links,
.contacts-links {
  display: flex;
  background: #2196f3;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.current {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--text-primary);
  letter-spacing: 0.02em;
  text-decoration: none;
}

/* Hero */

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--text-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}
.hero-box {
  background: #2f303a;
  text-align: center;
}
.hero-btn {
  display: inline-block;
  background: #188ce8;
  color: var(--text-white);
  width: 200px;
  height: 50px;
  cursor: pointer;
  align-items: center;
  text-align: center;

  padding: 10px 32px;
  border-radius: 4px;
}
.hero-btn:hover,
.hero-btn:focus {
  background: var(--accent-color);
}

/* Advantages  */
.advantag-box {
  margin-right: -30px;
  margin-bottom: -30px;
}
.advantage-item {
  flex-basis: calc((100%-30 * 3) / 4);
  margin-right: 30px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--text-secondary);
  letter-spacing: 0.03em;
  text-align: center;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--text-secondary);
}

.advantages-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Work */

.list {
  display: flex;
  outline: 1px solid tomato;
  padding: 0;
  margin: 0;
}
.work-item {
  flex-basis: calc((100%-30 * 2) / 3);
  margin-right: 30px;
}
/* Team */

.team-box {
  background: var(--secondary-color);
}
.team-item {
  background: var(--secondary-color);
  flex-basis: calc((100%-30 * 3) / 4);
  margin-right: 30px;
  text-align: center;
}
.team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-secondary);
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.card-box {
  background: var(--primary-color);
  position: absolute;
  width: 270px;
  height: 368px;

  text-align: center;
}
/* Footer */
footer {
  background: #2f303a;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
}
.list-text {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Portfolio */
.item-btn {
  background: var(--secondary-color);
  border-radius: 4px;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.item-btn:hover,
.item-btn:focus {
  background: var(--accent-color);
  color: var(--text-white);
}
.item-link {
  text-decoration: none;
  text-align: center;
}
.title-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-secondary);
}

.text-link {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.9;
  font-weight: 400;
  color: var(--text-primary);
}

.list-btns {
  display: flex;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid green;

  margin-left: auto;
  margin-right: auto;
}
.list-links {
  padding: 0;
  margin: 0;
  outline: 1px solid tomato;
  display: flex;
  flex-wrap: wrap;
  /* margin-right: -30px;
  margin-bottom: -30px; */
}
.flex-element {
  flex-basis: calc((100%-30 * 2) / 3);
  outline: 1px solid teal;
  display: block;
  /* display: block; */

  /* min-width: 100%; */

  /* margin-right: 30px;
  margin-bottom: 30px; */
}
/* .flex-element:nth-child(3n) {
  margin-left: 0;
}
.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/* .title-link,
.text-link {
  display: block;
  min-width: 100%;
} */
